@font-face {
    font-family: 'open-sans';
    src: "Open_Sans/static/OpenSans/OpenSans-Regular.ttf";
}


#message {
    background-color: aqua;
    font-family: open-sans, sans-serif, Arial;
    font-size: 15px;
    text-align: center;
}