/*
first purple: #816a89
other purple: #c49ad2
*/

@font-face {
    font-family: open-sans;
    src: "Open_Sans/static/OpenSans/OpenSans-Regular.ttf";
}

@font-face {
    font-family: open-sans;
    src: "Open_Sans/static/OpenSans/OpenSans-Bold.ttf";
    font-weight: bold;
} 
