.controlPage {
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    background-color:  rgba(217, 217, 217, 0.26);
}

.controlMenu {
    text-align: center;
    overflow-y: auto;
    align-items: center;
    width: 140px;
    height: 100%;
    fill: rgba(112, 78, 123, 0.52);
    background-color: #D9D9D9;
}

.homePage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background: linear-gradient(#816a89, #d9d9d9);
}


.homeBox {
    flex: 1;
    width: 50%;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    align-content: center;
    height: 80%;
    opacity: 0.75;
    fill: rgba(112, 78, 123, 0.52);
    background-color: rgba(112, 78, 123, 0.52);
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo {
    /* margin-top: 10%; */
    margin: auto;
    max-width: 50%;
    /* margin: 5rem auto; */
    display: grid;
    justify-content: center;
    gap: 2rem;
  }
  
  @media screen and (min-width: 800px) {
    .logo {
      max-width: 200px;
      align-items: start;
    } 
  }

.homeBox h1 {
    /* margin-top: 10%; */
    font-size: 2em;
    margin: auto;
}

.homeBox h2 {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1em;
}

.settingBox h2.settingHead {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'IBM Plex Sans Devanagari';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 84px;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.optionBox {
    width: 20%; 
    height: 3em;
    font-size: 1.6vw;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    position: relative;
    fill: rgba(89, 60, 99, 0.41);
    background-color: rgba(89, 60, 99, 0.41);
    border-radius: 15px;
    filter: drop-shadow(0px 4px 4px rgba(46, 4, 8, 0.07));
}

.optionBox h3 {
    padding-top:8%;
}

.settingBox {
    width: 75%;
    height: 35%;
    text-align: left;
    margin-left: 13%; 
    margin-top: 5%;
    background-color: #D9D9D9;
    border-radius: 20px;
}

.menuButton {
    width: 100px;
    height: 30px;
    margin: 20px;
    text-align: center;
    align-self: center;
    fill: rgba(89, 60, 99, 0.41);
    background-color: rgba(89, 60, 99, 0.41);
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(46, 4, 8, 0.07));
}

.menuButton h3 {
    padding-top:2%;
}