body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(#7cb8f0, #816a89);
}

#timer {
  font-size: 40px;
  line-height: 75px;
  margin-top: 0px;
  margin-bottom: 30px;
}
